@import "tailwindcss";
@import "tw-animate-css";

:root {
  --main-black: #0c0c0c;
  --main-white: #e9e9d5;
}

@theme {
  --color-main-black: var(--main-black);
  --color-main-white: var(--main-white);
}

* {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
}

html {
  background-color: var(--main-black);
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,.4) transparent;
}
